body {
  background: url(assets/tron_legacy_poster.jpg) no-repeat; 
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

#game {
  border: 1px dashed;
  margin: auto;
  display: block;
}