body {
  background: url(assets/tron_legacy_poster.jpg) no-repeat; 
  background-size: cover;
  display: grid;
  grid-template-columns: 25% 50% 25% ;
  grid-template-rows: 10% 30% 30% 30%;
}

/*HEADER STYLING*/
h1 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
}

.digital-font{
  font-family: 'Press Start 2P', cursive;
  color: orange;
}

#game {
  background: #316A7D;
  border: 1px dashed;
  display: block;
  margin: auto;
  grid-row: 2/4;
  grid-column: 2/3;
}

.start-btn {
  background: radial-gradient(#000000, #000000, #FFFFFF);
  border: 2px groove #FFF;
  border-radius: 50px;
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  height: 100px;
  position: relative;
  width: 100px;
}

.start-btn:hover {
  background: radial-gradient(#20839B, #20839B, #FFFFFF);
  cursor: pointer;
}

.start-btn:focus {
  outline: 0;
}

.btn-container {
  width: 110px;
  height: 110px;
  background: #FFFFFF;
  border: 4px ridge #7d7f81;
  border-radius: 62.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: #FFFFFF;
}